<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">

      <div class="row mh10">
        <div class="col-12"></div>
      </div>

      <div class="row mh30">
        <div class="col-3">
          <img style="width:60%;" id="profile" src="/images/profile.png" alt="..." class="float-left">
        </div>
        <div class="col-6">
          <div style="height:80%;">
            <h5>Dr Leo Xavier</h5>
            <p>Business Name: BeezPleaz</p>
            <p>Loaction: Docklands</p>
            <p>Industry: Argriculture</p>
          </div>
        </div>
        <div class="col-3">
          <img style="width:30%;" id="profile" src="/images/top-right.png" alt="..." class="float-right">
        </div>


      </div>
      <div class="row mh70">
        <div class="col-4">
          <h3>Services</h5>
          <ul id="services">
            <li class="lead chosen font-weight-bold">Regulation and Customs</li>
            <li class="lead chosen">Marketing</li>
            <li class="lead">Logistics</li>
            <li class="lead">Relationship Manager</li>
            <li class="lead">Finance</li>
          </ul>
        </div>
        <div class="col-8 profile-main-section">
          <div>
            <div class="text-center yellow-block">
              <p class="lead">Regulations and Customs in China</p>
            </div>
            <div>
              <p style="padding: 20px;">Chinese consumers are highly protected by tight regulations around imported food, and have many requirements including appropriate product labelling.</p>
            </div>
            <div class="flex-container">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Tariffs
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Import / Export
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Intellectual Property
                </label>
              </div>
            </div>
            <div class="flex-container">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Customer Rights
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Business Cusotms
                </label>
              </div>
            </div>
            <div class="float-right">
              <a class="btn btn-danger" href="/consultant-profile" role="button">Next ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
