<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <a href="https://etherscan.io/tx/0x0073609fd6885af9ff28f79870b858d02c9618b4d88d1ef12bb008ee0a3feb3f"><img id="landing-background" src="/images/report_page.png" alt=""></a>
    </div>
  </body>
</html>
