<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <img id="landing-background" src="/images/report_page.png" alt="">
    </div>
  </body>
</html>
